{% set page_title = 'Relatórios - Dashboard' %}
{% include 'includes/base_head.html' %} 
{% include 'includes/navbar.html' %} 

<main class="container my-4">
    <h1>Relatórios de Pedidos</h1>
    <p></p>

    <div class="row gx-1">
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="card-title">Data</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="card-title">Id</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="card-title">Valor</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row gx-1">
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">08/10/2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">01</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">R$ 350</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row gx-1">
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">08/10/2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">02</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">R$ 1.200</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row gx-1">
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">07/10/2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">03</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">R$ 550</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row gx-1">
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">06/10/2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">04</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">R$ 80</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row gx-1">
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">06/10/2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">05</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">R$ 2.400</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row gx-1">
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">05/10/2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">06</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">R$ 150</p>
                </div>
            </div>
        </div>
    </div>
</main>

{% include 'includes/footer.html' %}