{% set page_title = 'Usuários - Dashboard' %}
{% include 'includes/base_head.html' %} 
{% include 'includes/navbar.html' %} 

<main class="container my-4">
    <h1>Usuários</h1>
    <p></p>

    <div class="row gx-1">
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="card-title">Nome</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="card-title">E-mail</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="card-title">Status</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row gx-1">
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">Ana Silva</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">ana.silva@dominio.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">Ativo</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row gx-1">
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">Bruno Costa</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">bruno.c@dominio.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">Inativo</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row gx-1">
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">Carla Dantas</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">carla.d@dominio.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">Ativo</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row gx-1">
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">Daniel Ferreira</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">danielf@dominio.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">Bloqueado</p>
                </div>
            </div>
        </div>
    </div>

</main>

{% include 'includes/footer.html' %}